.full-screen{
    display: flex;
     justify-content: center;
     align-items: center;
    width: 100vw;
    height: 100vh;
}


.parent-container{
    display: flex;
    width: 95%;
    height: 85%;
    border: 0px solid black;
}
/* ------------------------------------------------------------------------ */
.child1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 0px solid red;
}
#ximage{
    width: 35vw;
    height: 44vh;
}
/* ------------------------------------------------------ */
.child2{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
     justify-content: center; 
     align-items: center;
    width: 50%;
    height: 100%;
    border: 0px solid green;
}

.child2-box{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 border: 0px solid orange;
 width: 90%;
 height: 100%;
 margin-top: 0px;
}

#happening{
    margin-top: 0px;
    font-weight: bold;

    font-size: 7ch
}
#join{
    font-weight: bold;
    font-size: 4ch
}
#signbutton{
    width: 22vw;
    height: 7vh;
    border-radius: 2em;
    font-weight:inherit;
    font-size: 15px;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
}
#googleimg{
    width: 20px;
    /* height: 15px; */
}
#appleimg{
    width: 19px;
    /* height: 17px; */
}

#signupbutton{
    width: 22vw;
    height: 7vh;
    border-radius: 2em;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
}

#createbutton{
    width: 22vw;
    height: 7vh;
    border-radius: 2em;
    font-weight: bold;
    font-size: 15px;
    background-color: #1a8cd8;
    border: none;
    color: whitesmoke;
    
}
#textsize{
    font-size: 12px;
    text-align: start;
}

.terms {
    font-size: 14px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
}

.terms a {
    text-decoration: none; 
    color: #007bff; /* Link color */
}

.terms a:hover {
    text-decoration: underline; 
    color: #0056b3; /* Link color on hover */
}

#have-acct{
    font-weight: bold;
    font-size: 20px;
}

#xsigninbutton{
    width: 22vw;
    height: 7vh;
    border-radius: 2em;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: whitesmoke;
    color: #0056b3;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DCDCDC;
}